.background {
    fill: none;
    pointer-events: all;
    fill: #D3E4F4;
}

.country-boundary {
    stroke: #8D8D8D;
    stroke-width: 1px;
    fill: #fff;
}

.pressure-centre {
    font-size: 25pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 3px #fff;

    &.high {
        paint-order: stroke;
        fill: #ff0000;
        stroke: #fff;
        stroke-width: 4px;
    }

    &.low {
        paint-order: stroke;
        fill: #0000ff;
        stroke: #fff;
        stroke-width: 4px;
    }
}

.warm-front {
    stroke: #ff0000;
    stroke-width: 2px;

    &.shape {
        fill: #ff0000;
        stroke-width: 0;
    }
}

.cold-front {
    stroke: #0000ff;
    stroke-width: 2px;

    &.shape {
        fill: #0000ff;
        stroke-width: 0;
    }
}

.stationary-front {
    stroke: #000;
    stroke-width: 2px;
}

.occluded-front {
    stroke: #912CED;
    stroke-width: 2px;

    &.shape {
        fill: #912CED;
        stroke-width: 0;
    }
}

.trough {
    stroke: #7B7B7B;
    stroke-width: 2px;
    stroke-dasharray: 5, 3;
}